@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

body {
    background-color: #4EF559;

}

#title {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem;
}

#text {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.5rem;
}

#container {
    height: 30vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
}

.simbol-container .material-symbols-outlined {
    font-size: 4rem;
    margin: 1.1rem;
}

.simbol-container p {
    font-size: 1rem;
    font-weight: 900;
}

#container .simbol-container:hover {        
    background-color:  #80FF52;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform: translate(2px, 2px);

}